.button-container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
