.container-catalog {
  width: 90%;
  height: 2000px;
  margin: 0 auto;
  margin-top: 6%;
  padding: 20px;
  padding-top: 3%;
  background-color: #181716;
  border-radius: 5px;
}

.catalog-title {
  font-size: 1.3em;
  font-family: "Inria Serif";
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
}

.search-input button {
  padding: 10px 20px;
  border: 1px solid #774136;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #774136;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-input button:hover {
  background-color: #333;
}

.sort-buttons {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-end;
  margin-bottom: 5px;
}

.sort-buttons button {
  width: 100%;
  max-width: 15%;
  padding: 10px;
  border: 1px solid #774136;
  border-radius: 5px;
  background-color: #774136;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-buttons button:hover {
  background-color: #333;
}

.separator {
  border-bottom: 4px solid #e0e0e0;
  margin: 20px 0;
  border-radius: 3px;
}
