.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  height: calc(100vh - 130px);
  margin-top: 2%; 
  padding: 0 20px; 
  z-index: 1; 
}

.card {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: #e4cabf;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.input {
  height: 39px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.button {
  height: 46px;
  width: 100%;
  background-color: #090908;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #1a1a1a;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  z-index: -1;
}

.goHomeContainer {
  display: flex;
  justify-content: flex-end;
}

.goHomeButton {
  height: 30px; 
  width: 100px; 
  background-color: #e4cabf; 
  color: #000;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}

.goHomeButton:hover {
  background-color: #d2b59e;
}

.error {
  margin-bottom: 20px;
  font-size: 16px;
  color: rgb(255, 0, 0);
}

.passwordContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
}

/* Медиазапросы для разных размеров экрана */
@media (max-width: 768px) {
  .card {
    padding: 30px 20px;
  }

  .input {
    height: 36px;
    font-size: 14px;
  }

  .button {
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px 10px;
  }

  .input {
    height: 34px;
    font-size: 12px;
  }

  .button {
    height: 36px;
    font-size: 12px;
  }
}
