.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
  margin-top: 130px;
  padding: 0 20px;
}

.card {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: #e4cabf;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.input {
  height: 39px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #D9D9D9;
}

.button {
  height: 46px;
  width: 100%;
  background-color: #090908;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Уменьшение отступа сверху */
}

.button:hover {
  background-color: #1a1a1a;
}

.closeButton > a {
  font-size: 24px;
  cursor: pointer;
  color: #000;
  margin-left: 47%;
  font-size: 16px;
  text-decoration: none;
}

/* Медиазапросы для разных размеров экрана */
@media (max-width: 768px) {
  .card {
    padding: 30px 20px;
  }

  .input {
    height: 36px;
    font-size: 14px;
  }

  .button {
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px 10px;
  }

  .input {
    height: 34px;
    font-size: 12px;
  }

  .button {
    height: 36px;
    font-size: 12px;
  }
}
