.header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 20px;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
}

.title {
  font-size: 30px;
  color: #000;
  font-family: "Inria Serif", serif;
  font-weight: regular;
  margin: 0;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  left: 50%;
  transform: translateX(-50%);
}

.navLink {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: "Inria Serif", serif;
  font-weight: bold;
  margin-right: 20px;
}

.navLink:hover {
  text-decoration: none;
}
